<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <div>&copy; Nestro Private Limited</div>
            <div class="f-info-links">
                <i class="fa-brands fa-square-facebook"></i>&nbsp;&nbsp;
                <i class="fa-brands fa-instagram"></i>&nbsp;&nbsp;
                <i class="fa-brands fa-linkedin"></i><br>
                <a href="/Privacy">Privacy</a>&nbsp;
                <span class="dot">·</span>&nbsp;
                <a href="/Terms">Terms and Conditions</a>
            </div>
        </div>
    </div>
</footer>