<style>
  .btn-search{
    background-color:#d9534f;
    color:#fff;
    border-radius:25px;
    padding:0 1rem 0 1rem;
    font-size: 1.5rem;
  }
  .btn-search:hover{
    background-color:#d9534f;
    color:#fff;
  }
  .btn-search i{
    display:inline;
    margin-right:0.5rem;
    font-size: 1.5rem;
  }
  .search-input{
    border-radius:25px;
    padding:0.5rem 3rem 0.5rem 3rem;
    font-size: 1.5rem;
  }

</style>


<nav class="navbar navbar-expand-md border-bottom sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand d-flex align-items-center" href="/">
        <img src="https://img.icons8.com/color/48/home--v1.png" alt="Nestro Logo" width="40" height="40" class="me-2">
        <strong style="color: #d9534f;">Nestro</strong>
      </a>
  
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ">
          <!-- <a class="nav-link" href="/">Home</a> -->
          <a class="nav-link" href="/listings">Explore</a>
        </div>

        <div class="navbar-nav ms-auto">
          <form class="d-flex" role="search">
            <input class="form-control me-2 search-input" type="search" placeholder="Search Destination" >
            <button class="btn btn-search my-2 my-sm-0" type="submit"><i class="fa-solid fa-magnifying-glass"></i>Search</button>
          </form>
        </div>
        <div class="navbar-nav ms-auto"><!--ms-auto : this is just like justify,flex i.e.,made the these at the right corner with space-between-->
          <!--  <% /*if(!req.user){}*/ %> => this is not directly accessed , as users are stored in locals  -->
            <a class="nav-link" href="/listings/new">Nestro your home</a>
            <% if(!currUser) { %>
              <a class="nav-link" href="/signup"><b>Sign up</b></a>
              <a class="nav-link" href="/login"><b>Login</b></a>
            <% } %>
            <% if (currUser) { %>
              <a class="nav-link" href="/logout"><b>Logout</b></a>
            <% } %>
        </div>
      </div>
    </div>
</nav>
  