<% layout("/layouts/boilerplate") -%>

<div class="alert alert-danger alert-dismissible fade show" role="alert" style="margin-top: 20px; display: flex; align-items: center; justify-content: center; text-align: center; word-wrap: break-word; white-space: normal;">
    <strong><b><%= message %></b></strong>  
</div>
